{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "prettier.eslintIntegration": true,
  "prettier.parser": "javascript",
  "prettier.tslintIntegration": true
}
